@import "../../scss/variables";

.navlinksCtn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
  }
  .linkCtn {
    display: flex;
    padding: 13px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 28px;
    border: 2px solid $lightBlue;
    .link {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      line-height: 133.333%;
    }
  }
}

@media (min-width: 769px) {
  .navlinksCtn {
    flex-direction: row;
    gap: 10px;
    padding: 8px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1400px) {
  .navlinksCtn {
    gap: 16px;
  }
}

@media (min-width: 1565px) {
  .navlinksCtn {
    gap: 32px;
  }
}
